*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-primary: #e8a0bf;
  --clr-secondary: #c0dbea;
  --clr-tertiary: #ba90c6;
  --clr-background: #f6f2cd;
  --clr-text: #464646;

  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Bitter", sans-serif;
}

body {
  background-color: var(--clr-background);
  font-family: var(--ff-primary);
  color: var(--clr-text);
}

button,
input {
  color: inherit;
  font-family: inherit;
}

header {
  color: var(--clr-text);
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 40px 20px 20px;
}

.logo {
  height: 40px;
  width: auto;
}

.title {
  font-family: var(--ff-secondary);
}

.task-form {
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  height: 80px;
}

.task-form input,
.edit-form input {
  border: 1px solid black;
  border-radius: 20px;
  padding-left: 10px;
}

.task-form button {
  background-color: var(--clr-tertiary);
  color: var(--clr-text);
  padding: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  min-width: 5rem;
}

.task-form button:focus,
.task-form button:hover,
.task-form input:focus,
.edit-form input,
a:focus {
  border: 1.5px solid black;
  outline: none;
}

a:focus {
  border-radius: 5px;
  text-decoration: none;
}

.task-list {
  padding: 20px;
  list-style: none;
}

.task-list li {
  margin: auto;
  min-height: 20px;
  max-width: 30rem;
  background-color: var(--clr-secondary);
  color: var(--clr-text);
  padding: 10px 15px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out;
}

.task-list li.completed {
  background-color: var(--clr-primary);
}

.task-list li.completed p {
  text-decoration: line-through;
}

.task-btns {
  display: flex;
  gap: 15px;
}

.task-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 5px;
}

.task-btn:focus {
  border: 1.5px solid black;
  outline: none;
}

.task-btn > svg {
  pointer-events: none;
}

.edit-form {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.edit-form input {
  flex: 1;
  width: 100%;
  text-decoration: none;
}

.edit-form button {
  border: none;
  background-color: var(--clr-text);
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

footer {
  background-color: var(--txclr-secondary);
  font-family: var(--ff-secondary);
  color: var(--clr-text);
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (min-width: 900px) {
  footer {
    left: 50%;
    transform: translateX(-50%);
  }
}
